html(ng-app='app')
  head
    meta(charset='utf8')
    base(href='/')
    title Sendbox
    link(rel='stylesheet', href='/css/lib/bootstrap.css')
    link(rel='stylesheet', href='/css/app.css')
  body(class="bg-whitegrey")

    block body
