.bg-black {
    background-color: black;
}
.bg-grey {
    background-color: grey;
}
.bg-silver {
    background-color: silver;
}
.bg-lightgrey {
    background-color: lightgrey;
}
.bg-whitegrey {
    background-color: #fafafa;
}
.bg-white {
    background-color: white;
}
