.message-container{
    padding: 5px;
    overflow: auto;
    height: 300px;
    margin-left: 0;
    margin-right: 0;
    background-color: white;
    border-left: solid 1px #f1f1f1;
}

.user-join{
    color: green;
}

.user-change{
    color: orange;
}

.user-left{
    color: red;
}
