.message-container{
    padding: 5px;
    overflow: auto;
    height: 400px;
    margin-left: 0;
    margin-right: 0;
    background-color: white;
    border-left: solid 1px #f1f1f1;
}

.user-join{
    color: green;
}

.user-change{
    color: orange;
}

.user-left{
    color: red;
}

.input{
    border: none;
    border-radius: 0 0 0;
    border-bottom: solid 1px #f1f1f1;
}

button.btn.btn-info.btn-sm{
    border-radius: 2px 2px 2px;
    margin-left: 16px;
}
