.mv-5{
    margin-top: 5px;
    margin-bottom: 5px;
}
.mv-10{
    margin-top: 10px;
    margin-bottom: 10px;
}
.mv-20{
    margin-top: 20px;
    margin-bottom: 20px;
}
.mv-30{
    margin-top: 30px;
    margin-bottom: 30px;
}
.mv-40{
    margin-top: 40px;
    margin-bottom: 40px;
}
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-40{
    margin-bottom: 40px;
}
.mh-5{
    margin-left: 5px;
    margin-right: 5px;
}
.mh-10{
    margin-left: 10px;
    margin-right: 10px;
}
.mh-20{
    margin-left: 20px;
    margin-right: 20px;
}
.mh-30{
    margin-left: 30px;
    margin-right: 30px;
}
.mh-40{
    margin-left: 40px;
    margin-right: 40px;
}
.ml-5{
    margin-left: 5px;
}
.ml-10{
    margin-left: 10px;
}
.ml-20{
    margin-left: 20px;
}
.ml-30{
    margin-left: 30px;
}
.ml-40{
    margin-left: 40px;
}
.mr-5{
    margin-right: 5px;
}
.mr-10{
    margin-right: 10px;
}
.mr-20{
    margin-right: 20px;
}
.mr-30{
    margin-right: 30px;
}
.mr-40{
    margin-right: 40px;
}