.section{
    border-top: solid 2px #f1f1f1;
    background-color: white;
    margin-bottom: 8px;
}

.section-header{
    padding: 10px;
    border-bottom: solid 1px #f1f1f1;
}

.section-content{
    padding: 10px;
    border-bottom: solid 1px #f1f1f1;
}